.createProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 60px;


    .createProfilePage {
        background-color: #ffffff;
        border-radius: 5px;
        border-color: rgb(8, 8, 8);
        box-shadow: 2px 2px rgba(18, 17, 17, 0.379);
        padding: 20px;
        width: 100%;
        max-width: 850px;
        margin: 60px auto;
        font-family: "Be Vietnam Pro", sans-serif;
        font-style: normal;
        font-size: 91%;
    }

    .images {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .uploaded-img,
    .placeholder-img {
        width: 320px;
        height: 320px;
        border-radius: 50%;
        object-fit: cover;
    }

    .labelImg {
        margin-top: 15px;
        font-size: large;
    }

    .labelImg:hover {
        color: #33758c;
    }

    .button {
        border-radius: 25px;
        margin-top: 20px;
        font-weight: 700;
        font-family: "Be Vietnam Pro", sans-serif;
        font-size: small;
    }

    .buttons {
        justify-content: center;
    }

    @media screen and (max-width: 768px) {
        .createProfilePage {
            margin: 50px auto;
            padding: 10px;
        }
    }
}