

.createProfile{
   
    .uploaded-img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    .placeholder-img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
}