.logged {

    .onlineWorld {
        height: 200px;
        width: 200px;

    }

    .profilesImg {
        height: 350px;
    }


    .conectionImg {
        height: 200px;
        width: 200px;
        margin-right: 0;

    }

    .textLogged {
        border-left: 2px solid rgba(50, 47, 47, 0.492);
        margin-top: 70px;
        margin-left: 30px;
        font-family: "Be Vietnam Pro";
        font-style: normal;
        font-weight: 400;
        font-size: medium;
    }

    .title {
        text-align: center;
        font-family: "Be Vietnam Pro";
        font-style: normal;
        font-weight: 1000;
        color: #3f7a8d;
        text-shadow: 2px 2px 3px rgba(249, 246, 246, 0.52);
    }

    .button {
        width: 75%;
        border-radius: 25px;
        margin-top: 15px;
        font-weight: 700;
        font-family: "Be Vietnam Pro", sans-serif;


    }
}