.title{
    font-size: 150px;
    color: #014E60;
}
.subtitle{
    font-size: 50px;
    margin-top: 100px;
    color:#ffccc4;
}
.texto{
    color: #BFE4E3;
}
.container {
    position: relative;
}
.line {
    position: absolute;
    top: 0;
    left: -10px; /* Ajusta la posición izquierda de la línea */
    width: 2px; /* Ancho de la línea */
    height: 100%; /* Altura de la línea */
    background-color: #BFE4E3; /* Color de la línea */
}
.question{
    font-size: 30px;
    color: #014E60;
}
.hangoutImg{
    margin-top: 10px;
    width: 50%;
}

