/* home.css */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url("https://img.freepik.com/foto-gratis/imagen-papel-tapiz-gris-claro-fondo-trazo-pincel-acrilico_53876-104726.jpg?t=st=1710428797~exp=1710432397~hmac=8e26a03128ecfbb6b55d86fbf24dbb71dabeed3ad1f1a2e0c17987026409bacc&w=826");
    background-size: cover;
}


.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; /* Asegura que el spinner esté por encima de otros elementos */
}
 
.spinner {
    width: 50px; /* Ancho del spinner */
    height: 50px; /* Altura del spinner */
}

.home {
    font-family: "Be Vietnam Pro", sans-serif;
    position: relative;
    height: 100vh;
    overflow: hidden;

    .video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #3f7a8d76, transparent 90%);
    }

    .formulario-bienvenida {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        z-index: 2;
    }

    .formulario-bienvenida h2 {
        margin-bottom: 20px;
        font-size: 36px;
        font-weight: bold;
    }

    .textHome {
        font-size: 18px;
        line-height: 1.5;
    }

    .buttonHome {
        margin-top: 30px;
    }

    .button {
        font-weight: bold;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 25px;
    }

}