body{
    background-color: #43A19E;
    font-family: "Averta-Bold";
    color:#014E60;
}
nav{
    background-color: #02323D;
}
footer{
    background-color: #02323D;
}
.btn{
    background-color: #DD0025;
    border: 0
}