.custom-navbar {
  display: flex;
  align-items: center;
  background-color: #3f7a8d;
  padding: 0px;
  height: 50px; 
  position:fixed;
  width: 100%;
  z-index: 3000;
}

.imageLogo {
  height: 50px;
  width: 60px;
  margin-left: 10px;
  margin-top: 5px;
}

.icon {
  text-decoration: none;
  color: black
}

.custom-menu-item {
  color: black;

}

.custom-menu-item a {
  text-decoration: none;
  color: inherit;
}

.link {
  text-decoration: none;
  color: inherit;
}

.name {
  margin: 10px;
  padding: 7px;
  border-bottom: 0.5px rgba(0, 0, 0, 0.297) solid;
}