.PageNotAllowed {
    font-family: "Be Vietnam Pro";
    color: rgb(83, 77, 77);
    text-align: center;
    justify-content: center;
    margin-top: 20px;

    .link {
        color: #dd0025;
    }

    .link:hover {
        color: #f74343;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}