.PageNotAllowed {
    font-family: "Be Vietnam Pro";
    color: rgb(83, 77, 77);


    h5 {
        background-color: #dcafaf95;
        border-radius: 10px;
        border-color: grey;
        box-shadow: 2px 2px darkgray;
        padding: 20px;
        justify-content: center;

    }

    .link {
        color: #dd0025;
    }

    .link:hover {
        color: #f74343;
    }
}