.password {
    font-family: "Be Vietnam Pro";

    .passwordForm {
        background-color: #ffffff;
        border-radius: 10px;
        border-color: grey;
        box-shadow: 2px 2px darkgray;
        padding: 20px;
    }


    .passwordImg {
        width: 40%;
    }
    .title {
        text-align: center;
        font-family: "Be Vietnam Pro", sans-serif;
        font-style: normal;
        font-weight: 1000;
        color: #3f7a8d;
        text-shadow:1px 1px white ;
    }
}