.password {
    font-family: "Be Vietnam Pro";

    .form {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 600px;
    }

    .passwordForm {
        max-height: 80%;
        max-width: 80%;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 2px 2px rgba(18, 17, 17, 0.379);
        border-color: rgb(8, 8, 8);
        padding: 10px;
        margin: 0;


    }

    .title {
        text-align: center;
        font-family: "Be Vietnam Pro", sans-serif;
        font-style: normal;
        font-weight: 500;
        color: #295f72;
        text-shadow: 1px 1px white;
        font-size: 30px;
    }

    .form-label {
        font-family: "Be Vietnam Pro", sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: small;
    }

    .button {
        width: 100%;
        border-radius: 25px;
        margin-top: 15px;
        font-weight: 700;
        font-family: "Be Vietnam Pro", sans-serif;
    }
}