body{
    background-color: #43a19e ;
}


.btn{
    background-color:#dd0025 ;
    border: #dd0025;
    color: white;
}

.btn:hover {
    background-color: #ffbfab; 
}

.btn:active {
    background-color: #dd0025;

}

