
.button {
    width: 100%;
    border-radius: 25px;
    margin-top: 20px;
}
.btn {
    background-color: #dd0025;
    border: none;
    color: white;
    text-align: center;
    padding: 10px 20px; 
    cursor: pointer;
}

.btn:hover {
    background-color: #ffbfab;
}

.btn:active {
    background-color: #dd0025;
}

.btn:focus{
box-shadow: 0 0 0 0.25rem #ffbfab;
}
.signUp {
    height: 100vh;
    max-width: 400px; 
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    background-color: #d1ecebb9;
}

.inputSignUp {
    width: 100%;
    height: 40px;
}

.alert {
    margin-top: 10px; 
    lighting-color: #ff0000;
    

}

.title{
    text-align: center;
}

.link {
    color: #ff0000;
    text-decoration: solid;
    font-weight: bold;
}